@import '../../../scss/variables';
@import '../../../scss/utils';

.login {
  @include for-pc-screen {
    align-items: center;
    background: url(../../../assets/imgs/graduating-1.png) no-repeat 100% 100% /
      1000px;
    display: flex;
    height: 100vh;
  }
  .container {
    margin: 0 auto;
    max-width: 1000px;
    width: 80%;
    @include for-pc-screen {
      width: 60%;
    }
  }
  &Inner {
    @include for-pc-screen {
      width: 48%;
      max-width: 320px;
    }
  }
}
