@import '../../scss/variables';
@import '../../scss/utils';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.container {
  text-align: left;
  @include for-pc-screen {
    max-width: 400px;
  }
}
.title {
  text-align: left;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-top: 40px;
}
.contain {
  display: flex;
  flex-direction: column;
  width: 100%;

  .buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .button {
    background: #ffffff;
    border: 1px solid #686868;
    border-radius: 3px;
    padding: 0.6rem 0;
    width: 50%;
    & + .button {
      margin-left: 1rem;
    }
  }

  .button:hover {
    background-color: black;
    color: white;
  }
}

.duration {
  .inputContainer {
    display: flex;
    flex-direction: column;
    margin-top: 58px;
  }
  .input {
    background: #ffffff;
    padding: 12px 16px;
    width: 100%;
    border: 1px solid #686868;
    border-radius: 3px;
  }

  .label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }
}

.activeButton {
  border: 1px solid #686868;
  border-radius: 3px;
  color: white;
  background-color: black !important;
  padding: 0.4rem 1.8rem;
}
.duration {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .container {
    left: auto;
    right: auto;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    text-align: center;
  }
  .duration {
    .inputContainer {
      margin-top: 10px;
    }
  }
}
