@import '../../scss/variables';
@import '../../scss/utils';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.Sidebar {
  position: fixed;
  height: 100%;
  width: 250px;
  background-color: black;
  left: 0px;
  top: 0px;
  bottom: 0px;
  .Logo {
    position: absolute;
    bottom: 50px;
    left: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    border: 0.3px solid rgba(0, 0, 0, 0.6);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    text-align: center;
    width: 100%;
    @include for-mobile-screen {
      display: none;
    }
  }
}

.SidebarList {
  height: 100%;
  width: 100%;
  list-style: none;
  color: gray;
  padding: 80px 0 0 15%;
  position: relative;

  .row {
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    &:hover {
      cursor: pointer;
      color: white;
    }
    a {
      color: inherit;
      display: inline-block;
      width: 100%;
      text-decoration: none;
    }
  }
}
@media screen and (max-width: 959px) {
  .Sidebar {
    width: 200px;

    a {
      font-size: 0.8em;
    }
  }
  .SidebarList {
    padding-left: 10%;
  }
}
@include for-mobile-screen {
  .Sidebar {
    width: 100%;
    height: 64px;
    left: 0px;
    z-index: 100;
  }
  .SidebarList {
    overflow-x: scroll;
    width: 90%;
    max-width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    gap: 2rem;
    margin: 0 auto;
    li {
      flex-shrink: 0;
    }
    p {
      display: none;
    }
    .row {
      height: unset;
    }
  }
  .Logo {
    display: none;
  }
}
