.containerForBoth {
  margin-left: 300px;
}

.title2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  text-align: left;
}

.cart {
  display: flex;
  flex-direction: row;
}
.title {
  text-align: left;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
}
@media screen and (max-width: 768px) {
  .containerForBoth {
    left: auto;
    right: auto;
    margin: 0 70px;
  }
  .cart {
    display: flex;
    flex-direction: column !important;
    left: auto !important;
    right: auto !important;
    margin: auto auto;
  }
  .fullCalendar {
    left: auto !important;
    right: auto !important;
    margin: auto !important;
  }
}
