@import '../../scss/variables';
@import '../../scss/utils';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
.column {
  display: flex;
  flex-direction: column;
}

.videoMainWrap {
  max-width: 675px;
  & + .videoMainWrap {
    margin-top: 2rem;
  }
}
.videoContainer {
  width: 100%;
  @include for-mobile-screen {
    text-align: center;
  }
  @include for-pc-screen {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
.title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  @include for-mobile-screen {
    margin-bottom: 8px;
    text-align: center;
  }
  @include for-pc-screen {
    font-size: 24px;
  }
}
.button {
  background: #000000;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 6px 6px;
  transition: transform 150ms ease-out;
  line-height: 1;
  @include for-pc-screen {
    margin-left: 15px;
    padding: 12px 12px;
  }
  &:hover {
    transform: scale(1.07);
  }
}
.para {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  margin-left: 10px;
  top: 26px;
  left: 840px;
}
.video {
  height: 0;
  overflow: hidden;
  margin-top: 10px;
  padding-top: 56.25%;
  position: relative;
  width: 100%;
  @include for-mobile-screen {
    margin: 10px auto 0;
  }
  iframe {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   height: 100%;
  //   width: 100%;
  //   background: orange;
  //   z-index: 999;
  // }
  // &.isLoaded {
  //   &::before {
  //     display: none;
  //   }
  // }
}
