.styledGoogle > div{
    min-width: 320px !important;
    border-bottom-right-radius: 6px !important;
    border-top-right-radius: 6px !important;

    
}

@media (max-width: 1106px) {
    .styledGoogle > div{
        min-width: 240px !important;
        max-width: 240px !important;
        border-bottom-right-radius: 6px !important;
        border-top-right-radius: 6px !important;
    }
}

@media (max-width: 767px) {
    .styledGoogle > div{
        min-width: 100% !important;
        max-width: 100% !important;
        border-bottom-right-radius: 6px !important;
        border-top-right-radius: 6px !important;
    }
}
