.outerPage{
    div{
        border: 1px solid black;
        height: 100vh;
        top: 0;
        padding: 128px 12px;
    }
    @media (max-width: 768px) {
        div{
            padding: 32px 16px;
        }
    }
}