@import '../../scss/variables';
@import '../../scss/utils';

.card_wrapper {
  & .card_body {
    box-sizing: border-box;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 5%;

    & .img_wrapper {
      display: block;
      text-align: center;
      & .prof_img {
        height: 160px;
        object-fit: cover;
        object-position: top;
        border-radius: 8px;
        width: 100%;
      }
    }

    & .name_wrapper {
      text-align: left;
      h1 {
        font-family: 'Poppins';
        font-size: 14px;
        margin: 0.5rem 0;
      }
    }

    & .tag_wrapper {
      text-align: left;
      // & .tag_body {
      //     width: 75px;
      //     height: 32px;
      //     background: #AE7D00;
      //     border-radius: 4px;
      //     display: inline-block;

      //     & p {
      //         font-family: 'Poppins';
      //         text-align: center;
      //         margin: 8px auto;
      //         font-size: 12px;
      //         font-family: 'Poppins';
      //         color: white;

      //     }
      // }
    }

    & .description_wrapper {
      text-align: left;
      overflow: scroll;
      height: 22px;
      margin-top: 10px;
      word-wrap: break-word;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */

      & .desc_text {
        font-family: 'Poppins';
        font-size: 12px;
        margin-top: 5px;
        line-height: 16px;
      }

      &::-webkit-scrollbar {
        display: none; /* for chrome */
      }
    }

    & .btn_wrapper {
      text-align: center;
      margin-top: 15px;
      & .card_btn {
        border: none;
        cursor: pointer;
        background-color: #000000;
        border-radius: 4px;
        font-size: 12px;
        color: white;
        padding: 10px;
        width: 100%;
        @include hover-opacity;
      }
    }
  }
}
// description-wrapper
// height: 36px;
// word-wrap: break-word;
// border: 1px solid black;
