@import '../../scss/variables';
@import '../../scss/utils';

.card_wrapper {
  width: 16%;
  @include for-mobile-screen {
    min-width: 80%;
  }
  @include for-pc-screen {
    max-width: 240px;
    min-width: 220px;
    width: 36%;
  }
  & .card_body {
    box-sizing: border-box;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 5%;

    & .img_wrapper {
      display: block;
      text-align: center;
      & .prof_img {
        height: 45vw;
        object-fit: cover;
        object-position: top;
        border-radius: 8px;
        width: 100%;
        @include for-pc-screen {
          height: 160px;
        }
      }
    }

    & .name_wrapper {
      text-align: left;
      h1 {
        font-family: 'Poppins';
        font-size: 14px;
        margin: 0.8rem 0;
        word-break: break-all;
      }
    }

    & .tag_wrapper {
      text-align: left;
    }

    & .description_wrapper {
      text-align: left;
      overflow: scroll;
      height: 22px;
      margin-top: 10px;
      word-wrap: break-word;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */

      & .desc_text {
        font-family: 'Poppins';
        font-size: 12px;
        margin-top: 5px;
        line-height: 16px;
      }

      &::-webkit-scrollbar {
        display: none; /* for chrome */
      }
    }

    .btn_wrapper {
      text-align: center;
      margin-top: 15px;
      .card_btn {
        border: none;
        cursor: pointer;
        background-color: #000000;
        border-radius: 4px;
        display: inline-block;
        font-size: 12px;
        text-decoration: none;
        color: white;
        padding: 10px;
        width: 100%;
        @include hover-opacity;
        @include for-pc-screen {
          width: 80%;
        }
      }
    }
  }
}
