@import '../../../../scss/variables';
@import '../../../../scss/utils';

.white {
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 6px;
  cursor: pointer;
  font-size: $FONT_SIZE_15;
  font-weight: 500;
  padding: 8px 16px;
  &:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
  }
  @include for-mobile-screen {
    font-size: $FONT_SIZE_13;
    font-weight: 400;
    padding: 6px 12px;
    width: 100%;
  }
}
