@import '../../../../scss/variables';
@import '../../../../scss/utils';

.default {
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 6px;
  cursor: pointer;
  font-size: $FONT_SIZE_15;
  font-weight: 500;
  padding: 8px 16px;
  &:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
  }

  @include for-mobile-screen {
    width: 100%;
    font-size: $FONT_SIZE_13;
    font-weight: 400;
    padding: 6px 12px;
  }
}

.disabled {
  background-color: #c8c8c8;
  border: 1px solid #c8c8c8;
  border-radius: 6px;
  font-size: $FONT_SIZE_15;
  font-weight: 500;
  padding: 8px 16px;
  cursor: no-drop;
  color: white;
  @include for-mobile-screen {
    width: 100%;
    font-size: $FONT_SIZE_13;
    font-weight: 400;
    padding: 6px 12px;
    width: 100%;
  }
}
