@import '../../scss/variables';
@import '../../scss/utils';

.bigContainer {
  height: auto;
  display: flex;
  .img {
    height: auto;
    text-align: center;
    @include for-pc-screen {
      text-align: left;
    }
  }
  h3 {
    margin-top: 1.5rem;
    @include for-mobile-screen {
      text-align: center;
    }
  }
  .contentWrapper {
    height: auto;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include for-mobile-screen {
      padding-left: 0px;
    }
    @include for-pc-lg-screen {
      align-items: flex-start;
    }
  }
  @include for-mobile-screen {
    flex-direction: column;
    margin: auto;
    margin-left: 0%;
    padding-left: 0px;
    padding: 0px;
  }
}

.titleContainer {
  .title {
    font-size: 24px;
    @include for-mobile-screen {
      text-align: center;
    }
  }
}

.tagContainer {
  display: flex;
  margin-top: 0.6rem;
  justify-content: center;
}

.linkContainer {
  display: flex;
  justify-content: center;
  margin-top: 0.6rem;
  a {
    text-decoration: none;
    color: #000;
    & + a {
      margin-left: 0.6rem;
    }
  }
}
