.bigContainer {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .img {
    height: auto;
  }
  .contentWrapper {
    height: auto;
    margin-left: 24px;
  }
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.titleContainer {
  .title {
    font-size: 24px;
  }
}

.tagContainer {
  display: flex;
}

.linkContainer {
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: #000;
  }
}
