@import '../../scss/variables';
@import '../../scss/utils';

.home {
  padding-top: 20px;
  @include for-pc-screen {
    padding-top: 40px;
  }
}
.findLocation {
  @include for-pc-screen {
    margin-top: 20px;
  }
}
.footer {
  margin-top: 6em;
}
.calendar {
  margin-top: 2em;
}
.appointmentHeader {
  margin-top: 4.5em;
}
