@import '../../scss/variables';
@import '../../scss/utils';

.upperContainer {
  text-align: center;
  @include for-pc-lg-screen {
    text-align: left;
  }
  & .titleWrapper {
    margin-bottom: 30px;
    & .filterTitle {
      font-size: 36px;
    }
  }
}
.tagsWrapper {
  & .filterText {
    padding-right: 7px;
    font-family: Poppins;
    font-size: 12px;
    margin-bottom: 10px;

    @include for-pc-lg-screen {
      display: inline;
      margin: none;
      text-align: left;
    }
  }
  > div {
    cursor: pointer;
  }
}

.cardsWrapper {
  margin: 30px auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  font-family: sans-serif;
}
