@import '../../scss/variables';
@import '../../scss/utils';

.mainContent {
  @include for-pc-screen {
    padding-left: 4%;
    position: fixed;
    left: 250px;
    width: calc(100% - 250px);
  }
}
