@import '../../scss/variables';
@import '../../scss/utils';

.mainContent {
  max-width: 1400px;
  padding: 90px 4% 4%;
  @include for-pc-screen {
    padding: 4%;
    position: fixed;
    left: 250px;
    width: calc(100% - 250px);
  }
}
