.outer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98vh;
}
.image{
    width: 300px;
    height: 240px;
    img{
        width: 300px;
        height: 240px;
    }
}

.homeButton{
    text-decoration: none !important;
    border: 1px solid black;
    padding: 12px 36px;
    font-size: 16px;
    color: black !important;
    border-radius: 4px;
    margin-top: 24px !important;
}