@import '../../scss/variables';
@import '../../scss/utils';

.mainContent {
  max-width: 1400px;
  padding: 90px 4% 4%;
  @include for-pc-screen {
    height: 100%;
    padding: 4%;
    position: fixed;
    left: 250px;
    overflow-y: scroll;
    width: calc(100% - 250px);
  }
  h1 {
    @include for-mobile-screen {
      text-align: center;
    }
  }
}
.button {
  font-family: 'Poppins';
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 6px;
  cursor: pointer;
  font-size: $FONT_SIZE_15;
  font-weight: 500;
  padding: 8px 16px;
  &:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
  }
  @include for-mobile-screen {
    margin: 24px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  @include for-pc-screen {
    max-width: 300px;
    width: 30%;
  }
}
