@import '../../scss/variables';
@import '../../scss/utils';

.avatarMenu {
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  top: 0;
  transition: opacity 100ms ease;
  right: 0;
  max-width: 172px;
  min-width: 130px;
  width: 35%;
  z-index: 10;
  @include for-mobile-screen {
    display: none;
  }
  @include for-pc-screen {
    width: 172px;
  }
  &__icon,
  &__menu {
    background: #fff;
    border: 0.5px solid #000000;
    border-radius: 4px;
  }
  &__icon {
    align-items: center;
    display: flex;
    padding: 0.3em;
    margin: 5px 5px 0 0;
    transition: opacity 100ms;
    @include hover-opacity;
    img {
      margin-right: 0.5em;
      width: 25%;
      @include for-pc-screen {
        width: 46px;
      }
    }
    p {
      font-size: $FONT_SIZE_12;
      font-weight: 500;
      word-break: break-all;
    }
  }
  &__menu {
    font-size: $FONT_SIZE_10;
    margin-top: 0.3em;
    padding: 0.8em;
    text-align: left;
    &Wrap {
      opacity: 0;
      overflow: hidden;
      transition: opacity 100ms ease-out;
      &.isShown {
        opacity: 1;
      }
    }
    li {
      @include hover-opacity;
      & + li {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
      }
      padding: 0.3em 0;
      a {
        color: inherit;
        text-decoration: none;
        &:hover {
          font-weight: 600;
        }
      }
    }
  }
}
