@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.Nav {
  margin-top: 56px;
  padding: 0 10px !important;
  color: rgba(0, 0, 0, 0.75);
  max-width: 1100px;
  margin: 0 auto;

  @media only screen and (max-width: 1024px) {
    padding: 0 32px !important;
  }
  @media only screen and (max-width: 480px) {
    padding: 0 16px !important;
  }
}

.navLinkButton {
  width: 141px;
  height: 36px;
  background: #ffffff;
  border: 0.5px solid #000000;
  border-radius: 4px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  text-align: center;
  margin-left: 74px;

  &:hover {
    background-color: black;
    color: white !important;
    transition: 0.5s;
  }

  @media only screen and (max-width: 768px) {
    margin: auto auto;
  }
  @media only screen and (max-width: 1024px) {
    margin: auto auto;
    width: auto auto;
    margin-top: 10px;
    padding-bottom: 10px;
  }
}

.mobileNav {
  a {
    min-width: auto;
    width: auto !important;
    max-width: 110px;

    &:last-child {
      font-size: 12px;
      color: #000000;
      min-width: 141px;
      margin-left: 42px;
      @media only screen and (max-width: 768px) {
        min-width: 100%;
      }
      @media only screen and (max-width: 991px) {
        min-width: 100%;
      }
      @media only screen and (max-width: 1024px) {
        margin-left: 42px;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    text-align: center;
    margin: auto auto;
    border-style: groove;
    border-width: 0.2px 0px;
    border-style: solid;
    border-color: #e5e5e5;
    margin-top: 10px;
    padding-bottom: 10px;
  }

  @media only screen and (max-width: 991px) {
    text-align: center;
    margin: auto auto;
    border-style: groove;
    border-width: 0.2px 0px;
    border-style: solid;
    border-color: #e5e5e5;
    margin-top: 10px;
    padding-bottom: 10px;
    a {
      &:last-child {
        margin-left: 0px !important;
        margin-top: 0 !important;
      }
    }
  }

  // @media only screen and (max-width: 1024px) {

  // }
  .navlink {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 32px;
    color: black;
    @media only screen and (max-width: 768px) {
      // border: 10px solid black !important;
      text-align: center;
      margin: auto auto;
    }
    @media only screen and (max-width: 1024px) {
      text-align: center;
      margin: auto auto;
      margin-top: 10px;
    }
  }
}
