@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
.calendarHero {
  display: flex;
  flex-direction: row;
  padding-top: 80px;
  padding: 2.5em 1em 0;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 1250px;
  div {
    &:first-child {
      width: 50%;
      height: 60%;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
      button {
        display: none;
        margin-top: 2em;
        @media screen and (max-width: 767px) {
          display: block;
        }
      }
    }
    &:nth-child(2) {
      width: 40%;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
      button {
        display: block;
        @media screen and (max-width: 767px) {
          display: none;
        }
      }
    }
  }
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: left;
  color: #ff7f34;
}
.description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  margin-top: 0.5em;
  line-height: 52px;
  color: #000000;
  text-align: left;
  @media screen and (max-width: 767px) {
    font-size: 26px;
    line-height: 36px;
  }
}
.button {
  background: #ffffff;
  border: 0.5px solid #000000;
  border-radius: 4px;
  font-size: 11px;
  width: 239px;
  height: 36px;
  margin-top: 0px;
  cursor: pointer;
  &:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
  }
}

@media screen and (max-width: 767px) {
  .calendarHero {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }

  .description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    margin-top: 0.8em;
    text-align: center;
  }

  .button {
    display: block;
    font-size: 10px;
    width: 92%;
    height: 34.94px;
    background: #ffffff;
    border: 0.5px solid #000000;
    border-radius: 4px;
    margin: 0px auto;
    max-width: 504px;
  }
}

.button{
  margin-top: 16px;
}