.roomCartContainer {
  display: flex;
  flex-direction: row;
  margin-left: 300px;
  margin-top: 50px;
}
.roomImageContainer {
  .roomImage {
    width: 200px;
    height: 200px;
    border-radius: 8px;
  }
}
.roomDesc {
  .roomName {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-left: 24px;
  }
  .roomDirection {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin-left: 24px;
  }

  .roomAvailable {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    margin-left: 24px;
  }
}
@media screen and (max-width: 768px) {
  .roomCartContainer {
    left: 0px;
    // right: auto;
    margin: 20px 20px !important;
    display: flex;
    flex-direction: column;
  }
  .roomImageContainer {
    left: 0px;
    // right: auto;
    margin: 20px 20px !important;
  }
}
