.campImage {
  position: absolute;
  // width: 1527px;
  height: 516px;
  bottom: 0;
  // bottom: 60px;
  // left: -157px;
  // top: 120px;
  // border: 3px solid black;
  // overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .campImage {
    position: absolute;
    // width: 500px;
    // height: 250px;
    background-position: center;
    left: 5px;
    right: 5px;
    margin: auto auto;
    top: 150px;
    z-index: 1;
  }
}
