.titleContainer {
  // text-align: left;
  margin-left: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  position: relative;
  margin-bottom: 24px;

  margin-top: 72px;
}

.header {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
}
.button {
  background: #151515;
  border-radius: 4px;
  width: 82px;
  height: 39px;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  position: absolute;
  left: 280px;
  bottom: 5px;
}
.fileUploader {
  text-align: left;
  margin-left: 300px;
  margin-bottom: 30px;
  width: 320px;
}
.title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 15px;
  margin-bottom: 12px;
}
.pageTitle {
  text-align: left;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 24px;
}
.roomTitle {
  text-align: left;
  margin-left: 300px;
  margin-bottom: 30px;
  width: 320px;
}
.roomDesc {
  text-align: left;
  margin-left: 300px;
  margin-bottom: 30px;
  width: 320px;
  height: 64px;

  .roomDescInput {
    background: #ffffff;
    border: 0.3px solid #000000;
    border-radius: 4px;
    width: 320px;
    height: 64px;
    padding: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
  }
}
.type {
  text-align: left;
  margin-left: 300px;
  margin-bottom: 30px;
  width: 320px;
}

.totalSeat {
  text-align: left;
  margin-left: 300px;
  margin-bottom: 30px;
  width: 320px;
}
.roomFloor {
  text-align: left;
  margin-left: 300px;
  margin-bottom: 30px;
  width: 320px;
}
@media screen and (max-width: 768px) {
  .titleContainer {
    left: auto;
    right: auto;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    .button {
      position: relative !important;
      bottom: 20px;
      left: 0px;
    }
  }

  .fileUploader {
    left: auto;
    right: auto;
    margin: 0px auto;
  }

  .roomTitle {
    left: auto;
    right: auto;
    margin: 25px auto;
  }

  .roomDesc {
    left: auto;
    right: auto;
    margin: 25px auto;
  }

  .type {
    left: auto;
    right: auto;
    margin: 25px auto;
  }

  .totalSeat {
    left: auto;
    right: auto;
    margin: 25px auto;
  }
  .roomFloor {
    left: auto;
    right: auto;
    margin: 25px auto;
  }
}
