@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
.form {
  padding: 64px 0 0 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  // margin-top: 50px;
  // top: 60px;
  bottom: 0px;
  margin-bottom: 0px;
  background: #fff;
  // min-height: 100% !important;
  height: 90vh;
  button {
    width: 320px;
  }
}

.title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  margin-bottom: 48px;
}

.input {
  background: #ffffff !important;
  border: 0.3px solid #000000;
  border-radius: 4px;
  max-width: 320px !important;
  width: 320px;
  height: 48px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  padding: 0 12px;
  box-sizing: border-box;
  font-size: 12px !important;
  z-index: 10;
}

.button {
  width: 320px;
  height: 48px;
  background: #000000;
  border-radius: 4px;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  border: none;
  z-index: 5;
  font-size: 12px !important;
  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

.image {
  // position: fixed;
  bottom: 0px;
  margin-bottom: 0;
  width: 100%;
  left: 0px;
}
