.Teacher_tag_body {
        width: fit-content;
        padding: 0 12px;
        height: 32px;
        background: #AE7D00;
        margin-right: 6px;
        border-radius: 4px;
        display: inline-block;

        

        & p {
            font-family: 'Poppins';
            text-align: center;
            margin: 10px auto;
            font-size: 12px;
            font-family: 'Poppins';
            color: white;

        }
}

.Cordinator_tag_body {
    width: fit-content;
    padding: 0 12px;
    height: 32px;
    background: #0711FD;
    margin-right: 6px;
    border-radius: 4px;
    display: inline-block;

    & p {
        font-family: 'Poppins';
        text-align: center;
        margin: 10px auto;
        font-size: 12px;
        font-family: 'Poppins';
        color: white;

    }
}

.Student_tag_body {
    width: fit-content;
    padding: 0 12px;
    height: 32px;
    background: #E3AD20;
    margin-right: 6px;
    border-radius: 4px;
    display: inline-block;

    & p {
        font-family: 'Poppins';
        text-align: center;
        margin: 10px auto;
        font-size: 12px;
        font-family: 'Poppins';
        color: white;

    }
}

.Co-opManager_tag_body {
    width: fit-content;
    padding: 0 12px;
    height: 32px;
    background: #494948;
    margin-right: 6px;
    border-radius: 4px;
    display: inline-block;
 

    & p {
        font-family: 'Poppins';
        text-align: center;
        margin: 10px auto;
        font-size: 12px;
        font-family: 'Poppins';
        color: white;

    }
}

.TA_tag_body {
    width: fit-content;
    padding: 0 12px;
    height: 32px;
    background: #000000;
    margin-right: 6px;
    border-radius: 4px;
    display: inline-block;
    
    & p {
        font-family: 'Poppins';
        text-align: center;
        margin: 10px auto;
        font-size: 12px;
        font-family: 'Poppins';
        color: white;
    
        }
}


