@import '../../scss/variables';
@import '../../scss/utils';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.container {
  text-align: left;
  @include for-pc-screen {
    max-width: 400px;
  }
}

.title {
  text-align: left;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-top: 40px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  & + .wrapper {
    margin-top: 20px;
  }
}
label {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 768px) {
  .container {
    left: auto;
    right: auto;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      text-align: center;
    }
  }
}
