@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.container {
  text-align: left;
  position: relative;
  left: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  text-align: left;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 328px;
}
label {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.button {
  background: #000000;
  border: 0.5px solid #000000;
  border-radius: 4px;
  max-width: 328px;
  height: 48px;
  color: white;
  font-family: 'Poppins';
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .container {
    left: auto;
    right: auto;
    margin: 0px 70px;
  }
}
